{% block content %}
  <div class="card mb-4 shadow">
    <div class="card-body">
      <p>{{ character.name }}
      </p>
      <div class="d-flex justify-content-between">
        <small>description:
          {{ character.desc }}
        </small>
        {% if character.owner == userId %}
          {%- comment -%}
            <form action="/characters/delete/{{anime.id}}/{{anime.id}}?_method=DELETE" method="POST">
            <input class="btn btn-danger" type="submit" value="X">
            </form>
          {%- endcomment -%}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}}}}}}}}}}