{% layout 'layout.liquid'%}
{% block content %}
  <div>
    <h2 class="display-6">All Animes</h2>
    <div class="row">
      {% for anime in animes %}
        <div class="card" style="width: 18rem;">
          <h5 class="card-header">{{ anime.name }}
          </h5>
          <div class="card-body">
            <img class="card-text" >
          
            </p>
            <a href="/animes/{{ anime.id }}" class="btn btn-info">
              View
              {{ anime.name }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}}}}}}}}}}}}}}}}}}}}}}