{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/animes" method="POST">
      <fieldset>
        <legend>Create New Anime</legend>
        <label class="form-label">Name:
        </label>
        <input type="text" name="name" placeholder="enter anime name" class="form-control">
        <br>
      </fieldset>
      <input type="submit" value="Create New Anime" class="btn btn-success">
    </form>
  </div>
{% endblock %}}}}}}}}}}}