{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/characters" method="POST">
      <fieldset>
        <legend>Create New Character</legend>
        <label class="form-label">Name:
        </label>
        <input type="text" name="name" placeholder="enter character name" class="form-control">
        <label class="form-label">Desc:</label>
        <input type="text" name="desc" placeholder="enter character description" class="form-control">
      </fieldset>
      <input type="submit" value="Create New Character" class="btn btn-success">
    </form>
  </div>
{% endblock %}}}